

<div class="root-list">
    <h1>Recentemente ouvido</h1>
    <ol class="row list-unstyled">
        <li *ngFor="let a of albuns">
            <app-main class="text-center" [url]="a.url" [description]="a.description" [nome]="a.nome">
            </app-main>
        </li>
    </ol>
    <h1>Mais ouvidas</h1>
    <span class="labels">As suas musicas mais ouvidas...</span>
    <ol class="row list-unstyled">
        <li *ngFor="let a of albuns">
            <app-main class="text-center" [url]="a.url" [description]="a.description" [nome]="a.nome"></app-main>
        </li>
    </ol>
    <h1>Mais Votadas</h1>
    <ol class="row list-unstyled">
        <li *ngFor="let a of albuns">
            <app-main class="text-center" [url]="a.url" [description]="a.description" [nome]="a.nome"></app-main>
        </li>
    </ol>
    <h1>Recomendadas</h1>
    <ol class="row list-unstyled">
        <li *ngFor="let a of albuns">
            <app-main class="text-center" [url]="a.url" [description]="a.description" [nome]="a.nome"></app-main>
        </li>
    </ol>

</div>