<div class="playing_bar">
    <div class="col-sm-3">
        <span class="image-context">
            <a href=""></a>
        </span>
        <div class="d-flex flex-column justify-content-between ">
            <div class="d-flex flex-column justify-content-between info-musica white_text">Nome da musica</div>
            <div class="d-flex flex-column justify-content-between info-autor white_text">Nome do Autor</div>
        </div>
        <div class="toogle">
            <button class="picture-button control-button">
                <div class="icon NavBar__icon"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                        <g fill="currentColor" fill-rule="evenodd">
                            <path
                                d="M1 3v9h14V3H1zm0-1h14a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1z"
                                fill-rule="nonzero"></path>
                            <path d="M10 8h4v3h-4z"></path>
                        </g>
                    </svg></div>
            </button>
        </div>
    </div>
    <div class="playing_center col-sm-6">
        <div class="playback_buttons">
            <button class="btn-circle" title="Play"></button>
        </div>
        <div class="d-flex flex-row">
            <div class="d-flex flex-row" style="font-size: 0.8rem;">
                <div class="progress-bar-time">0:00</div>
            </div>
            <div class="d-flex flex-column w-75">
                <div class="progress" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0"
                        aria-valuemax="100" style="width: 15%;">
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row" style="font-size: 0.8rem;">
                <div class="progress-bar-time">0:00</div>
            </div>
        </div>
    </div>
    <div class="playing_right col-sm-3">
    </div>
</div>