<div class="perfil_main " style="height: 100vh;">
    <div>
        <h1 class="white-component">Perfil</h1>
    </div>
    <br>
    <table class="table">
        <tbody>
            <tr class="d-flex flex-row justify-content-between">
                <th class="col-6 white-component">Nome</th>
                <td class="col-6">
                    <div class="input-group">
                        <input type="text" class="form-control" value="Eduardo" size="8">
                    </div>
                </td>
            </tr>
            <tr class="d-flex flex-row justify-content-between">
                <th class="d-flex flex-column justify-content-between col-6 white-component">E-mail</th>
                <td class="d-flex flex-column justify-content-between col-6">
                    <div class="input-group">
                        <input type="text" class="form-control" value="hobold.edu@hotmail.com" size="8">
                    </div>
                </td>
            </tr>
            <tr class="d-flex flex-row justify-content-between">
                <th class="d-flex flex-column justify-content-between col-6 white-component">Data de Nascimento</th>
                <td class="d-flex flex-column justify-content-between col-6">
                    <div class="input-group">
                        <input type="date" class="form-control" value="27/07/2000" size="8">
                    </div>
                </td>
            </tr>
            <tr class="d-flex flex-row justify-content-between">
                <th class="d-flex flex-column justify-content-between col-6 white-component">País</th>
                <td class="d-flex flex-column justify-content-between col-6">
                    <select class="form-control match-content">
                <option selected="">Brasil</option>
                <option>Paraguai</option>
                <option>China</option>
                <option>Japão</option>
            </select>
                </td>
            </tr>
        </tbody>
    </table>

    <br> <br> <br>

    <div class="row justify-content-center">
        <button type="button" class="btn btn-success">Salvar</button> &nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-danger">Cancelar</button>
    </div>

</div>