<div class="root_navbar">
    <div class="d-flex flex-row justify-content-between">
            Spotify
    </div>
    <nav>
        <div class="sidebar-sticky d-flex flex-row justify-content-between">
            <ul class="d-flex flex-column justify-content-between">
                <li class="nav-item">
                    Início
                </li>
                <li class="nav-item">
                    buscar
                </li>
                <li class="nav-item">
                    Sua biblioteca
                </li>
                <br>
                <p class="margin text-justify white-component">PlayLists</p>
            </ul>
        </div>
    </nav>
</div>