<nav class="root_navbar nav_group">
    <div class="nav_header d-flex">
        <img class="img-fluid" src="https://www.iconsdb.com/icons/preview/white/spotify-xxl.png" width="50" height="60"
            viewBox="0 0 60 60">&nbsp;
        <h4>Spotify</h4>
    </div>
    <br>
    <div class="d-flex row">
        <nav>
            <div class="sidebar-sticky">
                <ul class="flex-column nav_items">
                    <li class="nav-item"><i class="fa fa-home fa-lg"></i>
                        <a routerLink="/main">&nbsp; Início</a>
                    </li>
                    <br>
                    <li class="nav-item">
                        <i class="fa fa-search fa-lg"></i>
                        <a routerLink="/buscar">&nbsp;&nbsp;Buscar</a>
                    </li>
                    <br>
                    <li class="nav-item">
                        <i class="fa fa-book fa-lg"></i>
                        <a routerLink="/biblioteca">&nbsp;&nbsp;Sua Biblioteca</a>
                    </li>
                </ul>
            </div>
            <br><br>
            <div class="d-flex flex-column nav_items">
                <span class="rootList">Playlist</span>
                <br>
                <div class="flex-row">
                    <button>
                        <i class="fa fa-plus fa-lg"></i>
                    </button>&nbsp;
                    <span class="rootList">Criar Playlist</span>
                </div>
                <ul *ngFor="let p in playlists" class="d-flex flex-column rootlist nav_items">
                    <li>{{p.nome}}</li>
                </ul>
            </div>

            <div class="install-app d-flex flex-column">
                <div class="flex-row">
                    <button>
                        <i class="fa fa-plus fa-lg"></i>
                    </button>&nbsp;
                    <span class="rootList">Instalar aplicativo</span>
                </div>
            </div>
            <div class="perfil-name d-flex flex-column">
                <span class="rootlist">{{nome}}</span>
            </div>

        </nav>
    </div>
</nav>