<div class="root_navbar">
    <div>
            Spotify
    </div>
    <nav class="col-2 nav_group">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                    Início
                </li>
                <li class="nav-item">
                    buscar
                </li>
                <li class="nav-item">
                    Sua biblioteca
                </li>
                <br>
                <p class="margin text-justify white-component">PlayLists</p>
            </ul>
        </div>
    </nav>
</div>